#viewport {
    grid-area: viewport;
    overflow: hidden;
    #editor-tab {
        background-image: url("../images/TransparentTile.png");
        background-size: .7rem .7rem;
        background-repeat: repeat;
        height: 100%;

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #preview-tab {
        background: black;
        height: 100%;
    }
}