<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/mantra_d.css">
        <title>Scrapcad</title>
    </head>
    <body>
        <div id="wrapper" v-cloak>
            <header id="mantra-app-header">
                <div id="mantra-title-bar">
                    <p style="-webkit-app-region: drag;">Scrapcad</p>
                    <button @click="minimize">
                        <img src="../images/minimize-button.svg" alt="Minimize">
                    </button>
                    <button @click="maximize">
                        <img src="../images/maximize-button.svg" alt="Maximize">
                    </button>
                    <button @click="closeApplication">
                        <img src="../images/close-button.svg" alt="Close">
                    </button>
                </div>
                <div id="mantra-header-bar">
                    <div id="mantra-app-icon">
                        <img src="../images/app-icon.svg" alt="Application Icon">
                    </div>
                    <div id="mantra-app-properties">
                        <div class="mantra-property-category">
                            <p>Zoom</p>
                            <div>
                                <button @click="zoom(5)">+</button>
                                <div class="mantra-property-divider"></div>
                                <button @click="zoom(-5)">-</button>
                            </div>
                        </div>
                        <div v-if="hasDrawingLoaded" class="mantra-property-category">
                            <p>Grid</p>
                            <div>
                                <button @click="project.drawing.drawGrid = !project.drawing.drawGrid">{{project.drawing.drawGrid ? "Hide Grid" : "Show Grid"}}</button>
                            </div>
                        </div>
                        <div v-if="hasDrawingLoaded && isLayerSelected" class="mantra-property-category">
                            <p>Layer</p>
                            <div>
                                <input type="text" v-model="project.drawing.layers.selected.name" placeholder="Layer Name...">
                            </div>
                        </div>
                        <div v-if="hasDrawingLoaded && isLayerSelected && project.drawing.layers.selected.selectedTiles.length > 0" class="mantra-property-category">
                            <p>Selection ({{project.drawing.layers.selected.selectedTiles.length}})</p>
                            <div>
                                <button @click="fillTiles">Fill tiles (Debug)</button>
                                <button @click="project.drawing.layers.selected.invertAll()">Invert</button>
                                <button @click="project.drawing.layers.selected.deselectAll()">Deselect</button>
                                <div class="mantra-property-divider"></div>
                                <button @click="deleteSelectedTiles">Delete Tiles</button>
                            </div>
                        </div>
                    </div>
                    <div id="mantra-menu-section">
                        <button id="mantra-menu-button">
                            <img src="../images/menu-icon.svg" alt="Menu">
                        </button>
                        <div id="mantra-menu">
                            <button>New Project</button>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div id="panels">
                    <div id="tools">
                        <button @click="selectAllTiles" class="action-tool">
                            <img src="../images/select-all-icon.svg">
                            <p>Select All</p>
                        </button>
                        <button v-for="tool in tools.list" @click="tools.selected = tool" :class="{'selection-tool': true, 'tool-selected': tools.selected.name == tool.name}">
                            <img :src="tool.icon">
                            <p>{{tool.name}}</p>
                        </button>
                    </div>
                    <div id="editor">
                        <div class="mantra-tab-container">
                            <header>
                                <button class="mantra-tab-selected">Editor</button>
                                <button>3D Preview</button>
                            </header>
                            <div id="view-2d">
                                <canvas @mousedown="canvasClickHandler" ref="mainCanvas" id="main-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                    <div id="sidebar">
                        <div class="mantra-tab-container">
                            <header>
                                <button class="mantra-tab-selected">Layers</button>
                                <button>States</button>
                            </header>
                            <div id="layer-tab">
                                <ul v-if="hasDrawingLoaded">
                                    <li v-for="layer in project.drawing.layers.layers" @click="project.drawing.layers.select(layer)" :class="{'layer-selected': project.drawing.layers.selected == layer}">
                                        <p class="layer-item-title">{{layer.name}}</p>
                                        <p class="layer-item-info">
                                            {{layer.tiles.length}} Tiles ({{layer.selectedTiles.length}} selected)<br/>
                                            Z Position: {{layer.z}}<br/>
                                        </p>
                                    </li>
                                </ul>
                                <div id="layer-list-actions" v-if="hasDrawingLoaded">
                                    <button @click="createLayer()">
                                        <img src="../images/layer-icon.svg">
                                        New Layer
                                    </button>
                                    <button v-if="isLayerSelected" @click="project.drawing.layers.selected.duplicate(true)">
                                        <img src="../images/layer-icon.svg">
                                        Duplicate Selected
                                    </button>
                                    <button v-if="isLayerSelected" @click="deleteLayer()">
                                        <img src="../images/layer-icon.svg">
                                        Delete Selected
                                    </button>
                                    <button v-if="isLayerSelected" @click="project.drawing.layers.selected.moveUp()">
                                        <img src="../images/arrow-up.svg">
                                        Move Up
                                    </button>
                                    <button v-if="isLayerSelected" @click="project.drawing.layers.selected.moveDown()">
                                        <img src="../images/arrow-up.svg" style="transform: rotate(180deg);">
                                        Move Down
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="explorer">
                        <div class="mantra-tab-container">
                            <header>
                                <button class="mantra-tab-selected">Plugins ({{pluginCount}} Loaded)</button>
                            </header>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../scripts/TileCanvas.js"></script>
    <script src="../scripts/editor.js"></script>
    <script src="../scripts/mantra_d.js"></script>
</html>