[v-cloak] {display: none !important}
#panels {
    background: rgb(25, 25, 25);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr 18rem;
    grid-template-areas: 
    "tools viewport sidebar"
    "explorer explorer explorer";

    > * {
        border: 1px solid rgb(20, 20, 20);
    }

    @import 'panels/viewport';
    @import 'panels/explorer';
    @import 'panels/sidebar';
    @import 'panels/tools';
}

::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #646464;
}

::-webkit-scrollbar-thumb:hover {
    background: $theme-color;
}