@charset "UTF-8";
/*$theme-color: #0a7def;*/
/*$theme-color: #2181e2;*/
/*$theme-color: #c21733;*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-display: 400;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body, #wrapper {
  height: 100vh;
  overflow: hidden;
}

#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#wrapper #mantra-app-header #mantra-title-bar {
  background: #074de6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto auto;
      grid-template-columns: 1fr auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper #mantra-app-header #mantra-title-bar p {
  color: white;
  font-size: .8em;
  padding-left: .8rem;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-app-region: drag;
}

#wrapper #mantra-app-header #mantra-title-bar button {
  border: none;
  background: none;
  padding: .5rem 1rem;
}

#wrapper #mantra-app-header #mantra-title-bar button img {
  width: .7rem;
  height: .7rem;
}

#wrapper #mantra-app-header #mantra-title-bar button:hover {
  background: #053db4;
}

#wrapper #mantra-app-header #mantra-title-bar button:active {
  background: #05349b;
}

#wrapper #mantra-app-header #mantra-header-bar {
  background: #0e58f8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-icon img {
  width: 2rem;
  height: 2rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties .mantra-property-category {
  margin: .5rem 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  padding-right: .5rem;
  margin-right: .5rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties .mantra-property-category p {
  color: white;
  font-size: .7em;
  margin-bottom: .5rem;
  font-weight: 700;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties .mantra-property-category div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties .mantra-property-divider {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 .5rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input, #wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button {
  border: none;
  padding: .2rem .4rem;
  background: #e6e6e6;
  font-size: .75em;
  color: white;
  background: #0e58f8;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: border-color .5s ease;
  transition: border-color .5s ease;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input:hover, #wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button:hover {
  background: #0645cd;
  border-color: transparent;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input:active, #wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button:active {
  background: #05349b;
  border-color: transparent;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input::-webkit-input-placeholder, #wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button::-webkit-input-placeholder {
  color: white;
  opacity: .7;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input:-ms-input-placeholder, #wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button:-ms-input-placeholder {
  color: white;
  opacity: .7;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input::-ms-input-placeholder, #wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button::-ms-input-placeholder {
  color: white;
  opacity: .7;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input::placeholder, #wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button::placeholder {
  color: white;
  opacity: .7;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input {
  width: 8rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties input:focus {
  background: #05349b;
  border-color: transparent;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-app-properties button {
  cursor: pointer;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-menu-section button {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-menu-section button:hover {
  background: #0645cd;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-menu-section button:active {
  background: #05349b;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-menu-section button img {
  width: 1.1rem;
  height: 1.1rem;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-menu-section #mantra-menu {
  background: white;
  border: 1px solid #a3bffc;
  position: absolute;
  z-index: 9999;
  right: .5rem;
  margin-top: .2rem;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 70vh;
  width: 20rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-menu-section #mantra-menu button {
  color: #292929;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: .5rem .7rem;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wrapper #mantra-app-header #mantra-header-bar #mantra-menu-section #mantra-menu button:hover {
  color: white;
}

#wrapper > main {
  background: #141414;
  overflow: hidden;
}

#wrapper > main .mantra-tab-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#wrapper > main .mantra-tab-container > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #232323;
}

#wrapper > main .mantra-tab-container > header button {
  border: none;
  padding: .3rem .7rem;
  font-size: .7em;
  background: transparent;
  color: #aaaaaa;
}

#wrapper > main .mantra-tab-container > header button:hover {
  background: #0e58f8;
  color: white;
}

#wrapper > main .mantra-tab-container > header button:active, #wrapper > main .mantra-tab-container > header button.mantra-tab-selected {
  background: #053db4;
  color: white;
}

[v-cloak] {
  display: none !important;
}

#panels {
  background: #191919;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "tools viewport sidebar" "explorer explorer explorer";
}

#panels > * {
  border: 1px solid #141414;
}

#panels #viewport {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: viewport;
  overflow: hidden;
}

#panels #viewport #editor-tab {
  background-image: url("../images/TransparentTile.png");
  background-size: .7rem .7rem;
  background-repeat: repeat;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#panels #viewport #preview-tab {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#panels #viewport #preview-tab #three-viewport {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#05349b), to(#021338));
  background: linear-gradient(0deg, #05349b, #021338);
  line-height: 0px;
}

#panels #viewport #preview-tab button {
  position: absolute;
  border: 0.1rem solid white;
  background: none;
  border-radius: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1rem;
  right: 1rem;
}

#panels #viewport #preview-tab button:hover {
  background: rgba(255, 255, 255, 0.5);
}

#panels #viewport #preview-tab button:active {
  background: rgba(255, 255, 255, 0.7);
}

#panels #viewport #preview-tab button img {
  width: 1.5rem;
  height: 1.5rem;
}

#panels #explorer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: explorer;
}

#panels #explorer #plugin-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  list-style: none;
  overflow: auto;
}

#panels #explorer #plugin-tab ul li {
  max-height: 15rem;
  overflow: hidden;
  margin-right: .3rem;
  background: #212121;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#panels #explorer #plugin-tab ul li header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.2rem solid #719dfb;
}

#panels #explorer #plugin-tab ul li header .plugin-title {
  font-size: .8rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem 0;
}

#panels #explorer #plugin-tab ul li header .plugin-title::before {
  content: "";
  background: url("../images/plugin-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: .8rem .8rem;
  width: .8rem;
  height: .8rem;
  margin: 0 .7rem;
}

#panels #explorer #plugin-tab ul li header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#panels #explorer #plugin-tab ul li header button:hover {
  background: #0e58f8;
}

#panels #explorer #plugin-tab ul li header button:active {
  background: #0645cd;
}

#panels #explorer #plugin-tab ul li header button img {
  width: .7rem;
  height: .7rem;
}

#panels #explorer #plugin-tab ul li main {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .4rem 1rem;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: .8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row .plugin-property-name {
  color: #bebebe;
  font-size: .8rem;
  padding-right: 2rem;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: .1rem;
  border: none;
  background: #464646;
  color: white;
  padding: .1rem 1.5rem;
  font-size: .75rem;
  text-align: center;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div > *:not(:last-child) {
  margin-right: .2rem;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div button {
  cursor: pointer;
  white-space: nowrap;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div button:hover {
  background: #0e58f8;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div button:active {
  background: #0645cd;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div button.plugin-property-selected {
  background: #0e58f8;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div input {
  width: 5rem;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div input::-moz-selection {
  background: black;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div input::selection {
  background: black;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div input:hover {
  background: #373737;
}

#panels #explorer #plugin-tab ul li main .plugin-property-row div input:active, #panels #explorer #plugin-tab ul li main .plugin-property-row div input:focus {
  background: #0e58f8;
}

#panels #sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sidebar;
  overflow: hidden;
  width: 18rem;
}

#panels #sidebar #layer-tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  overflow: hidden;
}

#panels #sidebar #layer-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  overflow: auto;
}

#panels #sidebar #layer-tab ul li {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: .5rem .8rem;
  font-size: .9rem;
  border: 1px solid transparent;
  overflow: hidden;
}

#panels #sidebar #layer-tab ul li:nth-child(1) {
  margin-top: auto;
  /* istället för justify-content: flex-end på ul pga scroll-bugg*/
}

#panels #sidebar #layer-tab ul li:hover {
  border-color: #042c83;
}

#panels #sidebar #layer-tab ul li:active {
  border-color: #0e58f8;
}

#panels #sidebar #layer-tab ul li.layer-selected {
  background: #1e2e4f;
  border-color: #0e58f8;
  color: white;
}

#panels #sidebar #layer-tab ul li .layer-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .3rem;
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  height: 1.5rem;
}

#panels #sidebar #layer-tab ul li .layer-item-title:before {
  content: "";
  background-image: url("../images/layer-icon.svg");
  background-size: 1rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  min-width: 1rem;
}

#panels #sidebar #layer-tab ul li .layer-item-info {
  font-size: .7rem;
  color: white;
  opacity: .5;
}

#panels #sidebar #layer-list-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #323232;
}

#panels #sidebar #layer-list-actions button {
  border: none;
  background: none;
  color: #a0a0a0;
  padding: .3rem .6rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .75rem;
}

#panels #sidebar #layer-list-actions button img {
  width: .8rem;
  height: .8rem;
  margin-right: .5rem;
}

#panels #sidebar #layer-list-actions button:hover {
  background: #0e58f8;
  color: white;
}

#panels #sidebar #layer-list-actions button:active {
  background: #0645cd;
}

#panels #tools {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tools;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#panels #tools button {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

#panels #tools button:hover {
  background: #0e58f8;
}

#panels #tools button:hover p {
  visibility: visible;
  opacity: 1;
}

#panels #tools button:active {
  background: #05349b;
}

#panels #tools button img {
  width: 1.5rem;
  height: 1.5rem;
}

#panels #tools button p {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 3.5rem;
  background: #0e58f8;
  color: #ffffff;
  padding: .5rem .8rem;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

#panels #tools button p::before {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  background-size: .5rem .5rem;
  background-position: center;
  background-repeat: no-repeat;
  width: .5rem;
  height: .5rem;
  margin-right: .5rem;
}

#panels #tools .action-tool {
  background: #0e58f8;
}

#panels #tools .selection-tool.tool-selected {
  background: #406ac6;
  border: 1px solid white;
}

::-webkit-scrollbar {
  width: .7rem;
  height: .7rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #646464;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e58f8;
}
/*# sourceMappingURL=mantra_d.css.map */